__pycache__/
*.pyc
*.pyo
*.log
venv/
data/  # We'll add this folder later for raw data`
data/raw/*
logs/*


*.db
*.sqlite
*.sqlite3
.DS_Store
data/*.db
.DS_Store
data/warehouse.db
*.db
.DS_Store
data/warehouse.db
data/
